# Visual Studio
.vs/
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
Debug/
Release/
x64/
x86/

# Database files generated locally
*.ldf

# NuGet
packages/
*.nupkg

# Logs
*.log